.user {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 0px;
  padding-top: 30vw;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .user {
    display: inline-flex;
    height: 400px;
    width: 40%;
    padding-left: 1.5em;
    margin-top: 3em;
    justify-content: center;
  }
}