.container {
  width: 100%;
}

.counter {
  font-family: bungee, sans-serif;
  padding-left: 76vw;
}

#tweet-text {
  width: 90vw;
  border-bottom-width: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: b5b9c9;
}

button {
  font-family: bungee, sans-serif;
  color: white;
  background-color: #4056A1;
  border: none;
  padding: 5px 10px;
}

textarea {
  background-color: transparent;
}

#no-text, #over-text {
  display: none; 
  border: 3px dotted red;
  padding: 8px;
  font-weight: bold;
  background-color: lightgray;
}

