.tweet-container {
  flex-direction: column;
  display: flex;
  padding: 1em;
  margin-top: 50px;
  height: 240px;
  width: 95%;
}

.individual-tweets {
  border: 5px solid gray;
  padding: 1em;
  margin: 1em;
}

.individual-tweets:hover {
  box-shadow: 5px 5px 2px #737373;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.icon-name {
  display: flex;
}

h4 {
  display: none;
  align-items: unset;
  color: gray;
  font-family: "Source Sans Pro", sans-serif;
}


.individual-tweets:hover h4 { 
  display: block;
}

article {
  font-size: 20px;
  padding-left: 1%;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 4px solid gray;
}

footer {
  color: gray;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.symbols {
  color: red;
  font-size: 1.2em;
}